
.slider{
    width: 800px;
    margin: auto;
    background-color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 50px;
    border-bottom: 1px solid #000;
}
.slider img {height: 300px;width: 100%;}

.row {
    
    display: flex;
    width: 900px;
    margin: auto;
    flex-wrap: wrap;
}
.column{

 /* padding: 5px; */
 width: 300px;
 height: 250px;
}
